<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bar box-shadow mt-2">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" routerLink="adminDashboard">Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Master Page
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="masterPage">Master</a></li>
              <li><a class="dropdown-item" routerLink="coursePage">Course</a></li>
              <li><a class="dropdown-item" routerLink="userPage">User</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Enrollment
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="candidatePage">Candidate</a></li>
              <li><a class="dropdown-item" routerLink="enrollPage">Enrollments</a></li>
              <li><a class="dropdown-item" routerLink="payPage">Payments</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <span class="mx-4 mt-1 fw-bold"> <i class="fa-solid fa-user mx-2"></i>{{userName}}</span>
          <button type="button" class="btn btn-danger btn-sm" (click)="logOut()">Log out</button>
        </form>
      </div>
    </div>
  </nav>
</div>


<div class="">
  <router-outlet></router-outlet>
</div>
