<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12">
      <div class="card fresh-table full-color-orange">
        <div class="card-header bg-dark d-flex justify-content-between">
          <h6 class="text-light">All Candidates</h6>
          <button class="btn btn-sm btn-light fw-bold" (click)="openCandidate()">
            Add
          </button>
        </div>
        <div class="card-body">
          <table class="table table-striped table-hover table-bordered">
            <thead class="color text-light text-center">
              <tr>
                <th>Sr.no</th>
                <th>Candidate Name</th>
                <th>Contact No</th>
                <th>Email</th>
                <th>Password</th>
                <th>College Name</th>
                <th>Education</th>
                <th>City</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let item of candidateArray; let sr = index">
                <td>{{ sr + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.contactNo }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.password }}</td>
                <td>{{ item.collegeName }}</td>
                <td>{{ item.education }}</td>
                <td>{{ item.city }}</td>
                <td class="">
                  <button class="btn btn-light btn-sm mx-3" (click)="onEdite(item)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-light btn-sm" (click)="deleteCandidate(item)">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal form  -->

<div class="modal mt-5" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h6 class="modal-title">Add Candidates</h6>
        <button type="button" class="btn-close" (click)="closeCandidate()" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-12 mb-3">
            <label for="">Candidate Name</label> <br />
            <input type="text" name="name" [(ngModel)]="candidateObj.name" class="form-control"
              placeholder="Name" />
          </div>
          <div class="col-12 mb-3">
            <label for="">Email</label>
            <input type="text" name="email" [(ngModel)]="candidateObj.email" class="form-control" placeholder="Email" />
          </div>
          <div class="col-6">
            <label for="">Contact No</label>
            <input type="text" name="contactNo" [(ngModel)]="candidateObj.contactNo" class="form-control"
              placeholder="Contact No" />
          </div>
          <div class="col-6 mb-3">
            <label for="">Password</label> <br />
            <input type="text" name="Password" [(ngModel)]="candidateObj.password" class="form-control"
              placeholder="Password" />
          </div>
          <div class="col-6 mb-3">
            <label for="">Education</label> <br />
            <input type="text" name="Education" [(ngModel)]="candidateObj.education" class="form-control"
              placeholder="Education" />
          </div>
          <div class="col-6">
            <label for="">City</label> <br />
            <input type="text" name="City" [(ngModel)]="candidateObj.city" class="form-control" placeholder="City" />
          </div>
          <div class="col-12 mb-3">
            <label for="">College Name</label> <br />
            <input type="text" name="College Name" [(ngModel)]="candidateObj.collegeName" class="form-control"
              placeholder="College Name" />
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="">
            <button type="button" class="btn btn-danger btn-sm mx-3" (click)="onReset()">
              Reset
            </button>
            <button type="button" class="btn btn-dark btn-sm" (click)="addCandidate()"
              *ngIf="candidateObj.candidateId == 0">
              Save
            </button>
            <button type="button" class="btn btn-dark btn-sm" (click)="updateCandidate()"
              *ngIf="candidateObj.candidateId != 0">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
